html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
font-family: Rubik;
font-weight: lighter;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  
  float: left;
  
  color: #114273;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  
  width: 100%;
  line-height: 60px;
  
}
.header {
margin: 0 85px 0 145px;
}
nav ul {
  line-height: 40px;
  list-style: none;
  
  overflow: hidden;
  color: #114273;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #114273;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #114273;
  display: none;
}

.contact {
  border-radius: 5px;
  background: #FF594C;
  border: 1px solid #FF594C;
  color: white !important;
  font-weight: bold;
}

.link-border {
padding-bottom: 0;
padding-top: 0;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }
}

.menu a {
  color:  #114273;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 0px 15px;
  position: relative;
}
.menu a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #114273;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover { 
  
  text-decoration: none;
  color:  #114273;
}

.menu a:hover:after { 
  width: 100%; 
  left: 0; 
  
}

.link-border a:hover{
  
  
  border: 1px solid #114273;
  border-radius: 5px;
  
  text-decoration: none;
  color: #114273;
  font-weight: bold;
  
 }

 .container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.d1 {
  min-height: 650px;
  
  z-index: 0;
  display: flex;
  flex-direction: row;
}

.d1 div {
  flex: 1;
}
.d5 {
  min-height: 650px;
  display: flex;
  flex-direction: row;
}
.d5 div{
  flex: 1;
  color: #031A35;
}
.dd1 {
    display: flex;
}

.text-1 {
    margin: 0 95px 0 145px;
}

.d1 div img {
  width: 100%;
  height: 100%;
}

.d2 {
  min-height: 174px;
  background: lightgray;
  border-radius: 5px;
  margin: -50px 144px 0 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.d2 div {
  flex: 1;
  text-align: center;
}
.d3 {
  margin-top: -124px;
  min-height: 650px;
  z-index: 0;
}
.d3 .dd3 {
  margin:50px 124px 0 164px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  
}
.dd3 div p {
  flex: 1;
  display:inline-block;
  justify-content: flex-start;
  margin-left: 64px;
  margin-right: 32px;
}

.dd3 .orange-line{
    border-right: 1px solid #FF594C;
    height: 80px;
}       

.dd3 .orange-line2{
  border-right: 2px solid #FF594C;
  height: 60px;
}
.first-text-style {
font-size: 50px;
color: white;
font-weight: bold;

}
.secondary-text-style {
font-size: 30px;
color: white;

}
.button-center {

background-color: #FF594C;
border: none;
color: white;
padding: 15px 62px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
font-size: 20;
font-weight: bold;
border-radius: 5px;
}    

.description-logos{
font-style: normal;
font-stretch: normal;
letter-spacing: normal;
color: #031a35;
}

.title2 {
margin-top: 200px;
text-align:center
}

.reliable-partner{
margin-right: 200px;
margin-top: 30px;
margin-left: 0px;
z-index: 0;
}

.blue-left{
background: #031A35;
margin: 124px -45px 93px 215px;
z-index: 1;
}

span.step {
background: #FF594C;
border-radius: 0.8em;
-moz-border-radius: 0.8em;
-webkit-border-radius: 0.8em;
color: #ffffff;
display: inline-block;
font-weight: bold;
line-height: 1.6em;
margin-right: 5px;
text-align: center;
width: 1.6em; 
margin-left: 20px,

}

.footer {
background: #114273;
}
.footer .menu a{
color: white;
}

.footer .menu a:after { 
background: white;

}

.footer .contact {
background: white;
color: #FF594C !important;
}

.footer .menu a:hover { 
text-decoration: none;
color:  white;
}

body {
height: 100%;
margin: 0;
}

.box {
height: 30%
}

.box1 {
background-image: url("assets/Hero-Map-Desktop.svg");
background-repeat: no-repeat;

background-size: 100% 100%;
display: flex,
}

.box1 div {
flex: 1;
}
/** Footer **/


footer .contact-us {
background-image: url("../assets/Hero-Map-Desktop.svg");
background-size: 100%;
height: 341px;
border-bottom: solid 2px rgb(14, 41, 72);
padding-top: 70px;
}

footer .contact-us .mc-field-group {
display: flex;
flex-direction: row;
}

footer .contact-us input {
width: 500px;
height: 56px;
border-radius: 4px 0 0 4px;
background-color: #ffffff;
border: none;
padding-left: 20px;
}

footer .contact-us .subscribe {
width: 170px;
height: 56px;
border-radius: 0 4px 4px 0;
background-color: #ff594c;
font-size: 20px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.mce_inline_error {
border: solid 2px #ff594c!important;
}

#mce-responses {
color: white;
}

div.mce_inline_error {
display: none!important;
}

footer .contact-us .contact-us-container {
text-align:center;
}

footer .footer-navigation {
height: 162px;
background-color: #031a35;
}

.Stay-Up-To-Date {
height: 62px;
font-size: 36px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.28;
letter-spacing: normal;
text-align: center;
color: #ffffff;
margin: 0 auto 9px auto;
}

.Get-the-latest-news {
height: 28px;
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: center;
color: #ffffff;
margin: 0 auto 36px auto;
}

/** Footer **/
.align {
display: flex;
align-items: center;
justify-content: center;
padding-top: 10%
}

.align1 {
display: flex;
align-items: center;
justify-content: center;
padding-top: 2%;
padding-bottom: 2%
}

.image {
width: 100%;
height: 100%;
}

.Careers-at-Boxbot {
width: 600px;
height: 68px;
font-size: 46px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.22;
letter-spacing: normal;
color: #ffffff;
}

.We-apply-advanced-te {
width: 600px;
height: 290px;
font-size: 26px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
color: #ffffff;
}

.background {
background-color: rgb(237, 243, 250)
}

.space {
margin-left: 80%;
}

small {
font: small-caps 100%/200% serif;
}



.area {
color: #FF594C;
text-emphasis-color: white
}

/*CONTACT*/
.box {
background-size: 100%;
height: 100%;
min-height: 100%
}

.align {
display: flex;
align-items: center;
justify-content: center;
padding-top: 10%
}

.We-want-to-hear-from {
font-size: 46px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.22;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.Subtitle {
font-size: 26px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.titleCol {
font-size: 24px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.42;
letter-spacing: normal;
text-align: center;
color: #031a35;
}

.subtitleCol {
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: center;
color: #031a35;
}

.Stay-Up-To-Date {
width: 1150px;
height: 62px;
font-size: 36px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.28;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.Get-the-latest-news {
width: 910px;
height: 28px;
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.area {
color: #FF594C;
text-emphasis-color: white
}
/*END CONTACT*/
/*CAREERS*/


.background-careers .box {
height: 30%
}

.background-careers .box1 {
background-size: 100%;
height: 100%;
min-height: 100%
}

.background-careers .align {
display: flex;
align-items: center;
justify-content: center;
padding-top: 10%
}

.background-careers .align1 {
display: flex;
align-items: center;
justify-content: center;
padding-top: 2%;
padding-bottom: 2%
}

.background-careers .image {
width: 100%;
height: 100%;
}

.background-careers .Careers-at-Boxbot {
width: 600px;
height: 68px;
font-size: 46px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.22;
letter-spacing: normal;
color: #ffffff;
}

.background-careers .We-apply-advanced-te {
width: 600px;
height: 290px;
font-size: 26px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
color: #ffffff;
}

.background-careers .background {
background-color: rgb(237, 243, 250)
}

.background-careers .space {
margin-left: 80%;
}

.background-careers small {
font: small-caps 100%/200% serif;
}

.background-careers .Stay-Up-To-Date {
width: 1150px;
height: 62px;
font-size: 36px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.28;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.background-careers .Get-the-latest-news {
width: 910px;
height: 28px;
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}


/*CAREERS*/