/* (320x480) Smartphone, Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Partners */
    .partners-background {
        background-image: url(../../assets/Background-Mobile.svg);
        background-size: 100%;
    }
    .backgroundBox {
        background-color: rgba(255, 197, 99, 0.2);
        padding: 50px;
        margin: 0 10px;
    }
    .Last-mile-System-Sta {
        font-size: 1.2rem;
    }
    .partner-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partner-form-field {
        display: flex;
        flex-direction: column;
    }
    .partner-form-field input {
        border-radius: 4px;
        background-color: #ffffff;
        height: 56px;
        padding-left: 20px;
        border: none;
        margin: 5px;
        width: 260px !important;
    }
    .partner-form-field.full input {
        width: 260px !important;
    }
    .Partner-with-us {
        font-size: 1.2rem;
    }
    .partner-with-us .card {
        width: 550px;
        background-color: #ff594c;
    }
    .partner-form-submit input {
        width: 234px;
        height: 56px;
        border-radius: 4px;
        background-color: #031a35;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border: none;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .card.partner {
        text-align: center;
        font-size: 14px;
    }
    .card.partner .list {
        text-align: center;
        font-size: 14px;
        line-height: 1.57;
        padding: 0 25px 0 25px;
    }
    .jobs-list h6 {
        text-align: center;
        font-size: 14px;
    }
    .jobs-list .col-lg-6.right {
        text-align: center;
    }
    .jobs-list .col-lg-6.right button {
        width: 80%;
    }
    /* End Partners */
    /* Header */
    .menu-mobile .overlay {
        display: flex;
    }
    .header nav {
        height: 55px;
        padding: 10px 20px 10px 20px;
        display: flex;
    }
    .header .menu.desktop {
        display: none;
    }
    .header .menu-icon {
        display: block;
        width: 24px;
        height: 24px;
    }
    .header .menu-icon i {
        width: 24px;
        height: 24px;
        font-size: 1.8em;
    }
    .header nav .logo img {
        width: 86px;
        height: 20px;
    }
    .header nav .logo {
        width: 86px;
        height: 20px;
        padding: 0;
        margin: 0;
        flex: 1;
    }
    .header nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .header nav ul li {
        margin-right: 35px;
    }
    .header nav ul li.link-border {
        margin-right: 0;
    }
    .header nav ul li a {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #031a35;
    }
    .header nav ul li a.contact {
        border-radius: 4px;
        background-color: #ff594c;
        color: #fff!important;
        padding: 8px 15px 8px 15px;
        border: solid 1px #ff594c;
    }
    footer nav ul li a {
        color: #fff!important;
    }
    .header nav ul li a.contact:hover {
        border-radius: 4px;
        background-color: #fff;
        border: solid 1px #031a35;
        color: #031a35!important;
        padding: 8px 15px 8px 15px;
    }
    .header nav .menu {
        display: flex;
        align-self: center;
    }
    /* -- Header -- */
    /* Home */
    .home .hero {
        display: flex;
        height: 605px;
    }
    .home .hero {
        display: flex;
        flex-direction: column-reverse;
        background: #031a35;
        z-index: 0;
    }
    .home .hero div {
        flex: 1;
        background-size: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
        height: initial;
    }
    .home .hero .description {
        padding: 25px 10px 10px 15px;
        text-align: center;
    }
    .home .hero .description .first-text-style {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.22;
    }
    .home .hero .description .secondary-text-style {
        font-size: 17px;
        line-height: 1.38;
        margin-top: 22px;
    }
    .home .hero .description .button-center {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ff594c;
        border: none;
        color: white;
        font-weight: 500;
        font-size: 16px;
        margin-top: 27px;
        margin-top: 0px !important;
    }
    .home .highlight {
        height: 334px;
        border-radius: 4px;
        background-color: #edeef1;
        display: flex;
        flex-direction: column;
        margin: -50px 15px 0 15px;
        padding: 10px;
        position: relative;
    }
    .home .highlight div.logos.mobile {
        display: flex;
        flex-direction: column;
    }
    .home .highlight div {
        display: table;
        width: 100%;
    }
    .home .highlight div.logos {
        display: none;
    }
    .home .highlight div.notes {
        display: none;
    }
    .home .highlight img.n-1 {
        width: 158px;
        height: 28px;
    }
    .home .highlight img.n-2 {
        width: 108px;
        height: 13px;
    }
    .home .highlight img.n-3 {
        width: 53px;
        height: 28px;
    }
    .home .highlight div p {
        display: table-cell;
        text-align: center;
        width: unset;
        font-size: 14px;
    }
    /* -- Home -- */
    /* Info */
    .home .info {
        margin-top: -284px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .home .info.fixed {
        margin-top: 0;
    }
    .home .info .title2 {
        font-size: 18px;
        margin: 330px 40px 25px 40px;
        line-height: 1.44;
        padding: 15px;
    }
    .home .info .info-table {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        padding: 0 40px 0 40px;
        text-align: center;
    }
    .home .info .info-table div {
        display: table-cell;
        padding: 0 32px 0 32px;
    }
    .home .info .info-table p img {
        padding-left: 32px;
    }
    .home .info .info-table div>div {
        border-right: none;
        padding: 0 32px 0 32px;
    }
    .home .info .info-table .info-last {
        padding: 0 32px 0 32px;
        border: none!important;
    }
    .home .info .contact-sales {
        margin: 44px auto;
    }
    .home .info .contact-sales>div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .home .info .contact-sales .blue-left {
        width: unset;
        margin: -50px 20px 0 20px;
        height: 233px;
        background-color: #031a35;
        color: white;
        z-index: 1;
        text-align: center;
    }
    .home .info .contact-sales .blue-left>div {
        padding: 20px;
    }
    .home .info .contact-sales .blue-left .first-text-style {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.28;
    }
    .home .info .contact-sales .blue-left .secondary-text-style {
        margin-top: 5px;
        font-size: 17px;
        line-height: 1.6;
    }
    .home .info .contact-sales .blue-left .button-center {
        margin-top: 5px;
        width: 234px;
        height: 42px;
        border-radius: 4px;
        background-color: #ff594c;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .home .info .contact-sales .reliable-partner {
        margin-left: 0px;
        z-index: 0;
        position: relative;
    }
    .home .info .contact-sales .reliable-partner img {
        width: 100%;
    }
    .home .info .consumers {
        margin-top: 30px;
        font-size: 18px;
    }
    .home .info .consumers-steps {
        margin: 0 auto;
    }
    .home .info .consumers-steps>div {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
        text-align: center;
    }
    .home .info .consumers-steps>div>div {
        width: 250px;
    }
    .home .info .consumers-steps h4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .info .consumers-steps .step {
        background: #FF594C;
        border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        margin-right: 0;
        text-align: center;
        width: 1.6em;
        margin-bottom: 15px;
    }
    .home .info .consumers-steps h4 p {
        margin-bottom: 0;
        text-align: center;
        font-size: 16px;
        margin-left: 0;
    }
    .home .info .consumers-steps .orange-line2 {
        padding-left: 0px;
        text-align: center;
        border-right: none;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .home .info .consumers-steps .orange-line2.final {
        padding-left: 0px;
        text-align: center;
        border-right: none;
        margin-right: 0;
        font-size: 14px;
    }
    .home .join-us {
        margin-top: 100px;
    }
    .home .join-us h1 {
        margin-top: 18px;
        font-size: 18px;
        font-weight: 500;
    }
    .home .join-us h3 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .home .join-us h5 {
        margin-top: 28px;
        font-size: 14px;
        font-weight: normal;
    }
    .home .join-us .button-center {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ff594c;
        color: white;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 82px;
    }
    /* -- Info -- */
    /** Footer **/
    footer .contact-us {
        background-image: url("../../assets/Hero-Map-Desktop.svg");
        background-size: 100%;
        height: 341px;
        border-bottom: solid 2px rgb(14, 41, 72);
        padding-top: 70px;
        width: 100%;
        margin: unset!important;
    }
    footer .contact-us .mc-field-group {
        display: flex;
        flex-direction: column;
    }
    footer .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 15%;
        max-width: 15%;
    }
    footer .contact-us-container {}
    footer .contact-us input {
        width: 260px;
        height: 42px;
        border-radius: 4px 0 0 4px;
        background-color: #ffffff;
        border: none;
        padding-left: 20px;
    }
    footer .contact-us .subscribe {
        margin-top: 5px;
        width: 260px;
        height: 42px;
        border-radius: 0 4px 4px 0;
        background-color: #ff594c;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .mce_inline_error {
        border: solid 2px #ff594c!important;
    }
    #mce-responses {
        color: white;
    }
    div.mce_inline_error {
        display: none!important;
    }
    footer .contact-us .contact-us-container {
        text-align: center;
    }
    footer .footer-navigation {
        height: 320px;
        background-color: #031a35;
    }
    .Stay-Up-To-Date {
        height: 32px;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 9px auto;
    }
    .Get-the-latest-news {
        height: 28px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 36px auto;
    }
    footer .menu {
        display: flex!important;
    }
    footer .menu .header {
        align-items: center;
        width: 100%;
    }
    footer .menu .header .black {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: unset;
    }
    footer .menu .header .black .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer .menu .header .black .menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .menu .header .black .menu ul li {
        margin: 10px 0 10px 0;
        width: 260px;
        height: 42px;
    }
    footer .menu .header .black .menu ul li.link-border a {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #ff594c!important;
        border: none;
        margin-bottom: 15px;
    }
    /** -- Footer -- **/
}


/* (320x480) Smartphone, Portrait */

@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
}


/* (320x480) Smartphone, Landscape */

@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
}