html,
body,
svg {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Rubik !important;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Header */

.header nav {
    height: 122px;
    padding: 40px 145px 41px 138px;
    display: flex;
}

.header a {
    text-decoration: none;
}

.desktop a:hover {
    border-bottom: 2px solid #031a35;
    padding-bottom: 2px;
}

.header .menu-mobile {
    display: none;
}

.header .menu-icon {
    display: none;
}

.header nav .logo {
    height: 37px;
    padding: 0;
    margin: 0;
    flex: 1;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header nav ul li {
    margin-right: 35px;
}

.header nav ul li.link-border {
    margin-right: 0;
}

.header nav ul li a {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #031a35;
}

.header nav ul li a.contact {
    border-radius: 4px;
    background-color: #ff594c;
    color: #fff !important;
    padding: 8px 15px 8px 15px;
    border: solid 1px #ff594c;
}

footer nav ul li a {
    color: #fff !important;
}

.header nav ul li a.contact:hover {
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #031a35;
    color: #031a35 !important;
    padding: 8px 15px 8px 15px;
}

.header nav .menu {
    display: flex;
    align-self: center;
}


/* -- Header -- */


/* Home */

.home .hero {
    display: flex;
    flex-direction: row;
    background: #031a35;
    z-index: 0;
    height: 605px;
}

.home .hero div {
    flex: 1;
    background-size: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

.home .hero>div {
    height: 100%;
}

.home .hero .description {
    padding: 141px 95px 0 141px;
}

.home .hero .description .first-text-style {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.22;
}

.home .hero .description .secondary-text-style {
    font-size: 26px;
    line-height: 1.38;
    margin-top: 22px;
}

.home .hero .description .button-center {
    width: 234px;
    height: 56px;
    border-radius: 4px;
    background-color: #ff594c;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 27px;
    text-decoration: none;
    padding: 16px 28px 16px 28px;
}

.home .highlight {
    height: 174px;
    border-radius: 4px;
    background-color: #edeef1;
    display: flex;
    flex-direction: column;
    margin: -50px 144px 0 144px;
    position: relative;
}

.home .highlight div {
    display: table;
    width: 100%;
}

.home .highlight div.logos.mobile {
    display: none;
}

.home .highlight div.logos {
    margin-top: 37px;
}

.home .highlight div.notes {
    margin-top: 14px;
}

.home .highlight img.n-1 {
    width: 226px;
    height: 40px;
}

.home .highlight img.n-2 {
    width: 154px;
    height: 19px;
}

.home .highlight img.n-3 {
    width: 76px;
    height: 40px;
}

.home .highlight div p {
    display: table-cell;
    text-align: center;
    width: 360px;
    font-size: 18px;
}


/* -- Home -- */


/* Info */

.home .info {
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
}

.home .info.fixed {}

.home .info .title2 {
    margin-top: 195px;
    margin-bottom: 35px;
}

.home .info .info-table {
    margin-top: 35px;
    display: table;
    table-layout: fixed;
    padding: 0 187px 0 187px;
    text-align: left;
}

.home .info .info-table div {
    display: table-cell;
    padding: 0 32px 0 32px;
}

.home .info .info-table p img {
    padding-left: 32px;
}

.home .info .info-table div>div {
    border-right: solid 1px #ff594c;
    padding: 0 32px 0 32px;
}

.home .info .info-table .info-last {
    padding: 0 32px 0 32px;
    border: none !important;
}

.home .info .contact-sales {
    margin: 64px auto;
}

.home .info .contact-sales>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home .info .contact-sales .blue-left {
    width: 620.5px;
    height: 418px;
    background-color: #031a35;
    color: white;
    z-index: 1;
    text-align: left;
}

.home .info .contact-sales .blue-left>div {
    padding-left: 80px;
    padding-right: 75px;
}

.home .info .contact-sales .blue-left .first-text-style {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.28;
}

.home .info .contact-sales .blue-left .secondary-text-style {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 36px;
}

.home .info .contact-sales .blue-left .button-center {
    margin-top: 36px;
    width: 234px;
    height: 56px;
    border-radius: 4px;
    background-color: #ff594c;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 16px 28px 16px 28px;
}

.home .info .contact-sales .reliable-partner {
    margin-left: -45px;
    z-index: 0;
}

.home .info .contact-sales .reliable-partner img {
    width: 840px;
}

.home .info .consumers {
    margin-top: 70px;
}

.home .info .consumers-steps {
    margin: 0 auto;
}

.home .info .consumers-steps>div {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.home .info .consumers-steps>div>div {
    width: 420px;
}

.home .info .consumers-steps h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home .info .consumers-steps .step {
    background: #ff594c;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.home .info .consumers-steps h4 p {
    margin-bottom: 0;
    margin-left: 60px;
}

.home .info .consumers-steps {
    margin-bottom: 50px;
    margin-top: 50px;
}

.home .info .consumers-steps .orange-line2 {
    padding-left: 60px;
    text-align: left;
    border-right: solid 2px #ff594c;
    margin-right: 15px;
}

.home .info .consumers-steps .orange-line2.final {
    padding-left: 60px;
    text-align: left;
    border-right: none;
    margin-right: 0;
}

.home .join-us {
    margin-top: 200px;
    background-repeat: no-repeat;
}

.home .join-us>div {
    padding-bottom: 36px;
}

.home .join-us h1 {
    margin-top: 28px;
    font-size: 36px;
    font-weight: 500;
}

.home .join-us h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.home .join-us h5 {
    margin-top: 28px;
    font-size: 20px;
    font-weight: normal;
}

.home .join-us .button-center {
    width: 263px;
    height: 56px;
    border-radius: 4px;
    background-color: #ff594c;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 82px;
    text-decoration: none;
    padding: 16px 28px 16px 28px;
}


/* -- Info -- */


/** Footer **/

footer .contact-us {
    background-image: url("../../assets/Hero-Map-Desktop.svg");
    background-size: 100%;
    height: 341px;
    border-bottom: solid 2px rgb(14, 41, 72);
    padding-top: 70px;
}

footer .contact-us .mc-field-group {
    display: flex;
    flex-direction: row;
}

footer .contact-us input {
    width: 500px;
    height: 56px;
    border-radius: 4px 0 0 4px;
    background-color: #ffffff;
    border: none;
    padding-left: 20px;
}

footer .contact-us .subscribe {
    width: 170px;
    height: 56px;
    border-radius: 0 4px 4px 0;
    background-color: #ff594c;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.mce_inline_error {
    border: solid 2px #ff594c !important;
}

#mce-responses {
    color: white;
}

div.mce_inline_error {
    display: none !important;
}

footer .contact-us .contact-us-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer .footer-navigation {
    height: 162px;
    background-color: #031a35;
}

.Stay-Up-To-Date {
    height: 62px;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 9px auto;
}

.Get-the-latest-news {
    height: 28px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 36px auto;
}


/** -- Footer -- **/

.jobs-list .right {
    text-align: right;
}


/* menu-mobile */

.menu-mobile.open {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #031a35;
}

.menu-mobile.close {
    display: none;
}

.menu-mobile .overlay {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: none;
}

.menu-mobile .overlay .mobile-header {
    display: flex;
    flex-direction: row;
    color: white;
    height: 55px;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.menu-mobile .overlay .mobile-header div:first-child {
    flex: 1;
}

.menu-mobile .overlay .mobile-header a img {
    height: 20px;
}

.menu-mobile .overlay .mobile-header .mobile-bar-close {
    color: white;
    margin: auto;
    width: 24px;
    height: 24px;
}

.menu-mobile .overlay .mobile-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-mobile .overlay .mobile-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    text-align: center;
    margin: 0;
    line-height: 2;
    width: 80%;
}

.menu-mobile .overlay .mobile-links ul li.m-border {
    border-bottom: 2px solid rgb(14, 41, 72);
    margin: 5px 0 5px 0;
    padding: 10px 0 10px 0;
}

.menu-mobile .overlay .mobile-links ul li.m-border-contact {
    background: white;
}

.menu-mobile .overlay .mobile-links ul li a {
    color: white;
}

.menu-mobile .overlay .mobile-links ul li.m-border-contact a {
    background: white;
    color: #ff594c;
    height: 42px;
}

.wrapper.close {
    display: none;
}


/*CONTACT*/

.box {
    background-size: 100%;
    height: 100%;
    min-height: 100%
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%
}

.We-want-to-hear-from {
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Subtitle {
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.titleCol {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #031a35;
}

.subtitleCol {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #031a35;
}

.subtitleCol a {
    color: inherit;
    text-decoration: none;
}

.area {
    color: #FF594C;
    text-emphasis-color: white
}


/*END CONTACT*/


/*CAREERS*/

.background-careers .box {
    height: 30%
}

.background-careers .box1 {
    background-size: 100%;
    height: 100%;
    min-height: 100%
}

.background-careers .align {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%
}

.background-careers .align1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%
}

.background-careers .We-apply-advanced-te {
    width: 600px;
    height: 290px;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
}

.background-careers .background {
    background-color: #f9f9f9
}

.background-careers .space {
    margin-left: 80%;
}

.background-careers small {
    font: small-caps 100%/200% serif;
}

.ButtonApplyStyle {
    background-color: rgb(28, 148, 240);
    padding: 5px 25px 5px 25px !important;
    color: white;
    border: 0;
    font-size: small;
    border-radius: 5px;
}


/*CAREERS*/


/*CONTACT*/

.box {
    background-size: 100%;
    height: 100%;
    min-height: 100%
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%
}

.We-want-to-hear-from {
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Subtitle {
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.titleCol {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #031a35;
}

.subtitleCol {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #031a35;
}

.area {
    color: #FF594C;
    text-emphasis-color: white
}


/*END CONTACT*/


/*CAREERS*/

.background-careers .box {
    height: 30%
}

.background-careers .box1 {
    background-size: 100%;
    height: 100%;
    min-height: 100%
}

.background-careers .align {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%
}

.background-careers .align1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%
}

.background-careers .image {
    width: 100%;
    height: 100%;
}

.carrer-main-text-cont,
.carrers-image-cont {
    flex: 1;
}

.background-careers .Careers-at-Boxbot {
    font-size: 3.4rem;
    overflow-wrap: break-word;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 auto 2px auto;
}

.background-careers .We-apply-advanced-te {
    width: 100%;
    font-family: Rubik;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #ffffff;
    margin: 0 auto 2px auto;
}

.background-careers .background {
    background-color: rgb(237, 243, 250)
}

.background-careers .space {
    margin-left: 80%;
}

.background-careers small {
    font: small-caps 100%/200% serif;
}


/*CAREERS*/


/*PARTNERS*/

.Our-system-augments {
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
}

.Were-excited-to-unl {
    max-width: 600px;
    height: 89px;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
}

.title {
    width: 348px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #031a35;
}

.substitle {
    width: 348px;
    height: 92px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #031a35;
}

.list {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #031a35;
}

.line {
    width: 360px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #031a35;
}

.Last-mile-System-Sta {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #ff594c;
}

.Partner-with-us {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #383838;
}

.cardText {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.backgroundBox {
    background-color: rgba(255, 197, 99, 0.2);
    padding: 50px;
}

.backgroundBox2 {
    background-color: rgba(3, 26, 53, 0.1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.partner-with-us {
    flex: 1;
    width: 100%;
    align-content: center;
    justify-content: center;
    max-width: 550px;
}

.partner-with-us-text {
    justify-content: flex-end;
}

.partners-background {
    background-image: url(../../assets/Background-Desktop-Partners.svg);
    background-size: cover;
}

.partners-image {
    background-image: url(../../assets/Image-Partners-Desktop.jpg);
    background-size: cover !important;
    background-repeat: no-repeat;
}


/*PARTNERS*/

.partner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-form-field {
    display: flex;
    flex-direction: row;
}

.partner-form-field input {
    border-radius: 4px;
    background-color: #ffffff;
    height: 56px;
    padding-left: 20px;
    border: none;
    margin: 5px;
    width: 220px;
}

.partner-form-field.full input {
    width: 450px;
}

.partner-form-field input:focus {
    outline: none;
    border: none;
}

.partner-with-us .card {
    width: 550px;
    background-color: #ff594c;
}

.partner-form-submit input {
    width: 234px;
    height: 56px;
    border-radius: 4px;
    background-color: #031a35;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    margin-bottom: 60px;
}

.card.partner {
    text-align: left;
}

.underlined {
    border-bottom: 2px solid #031a35;
    padding-bottom: 2px;
}

.contact-underlined {
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #031a35;
    color: #031a35 !important;
    padding: 8px 15px 8px 15px;
}

.main-background {
    background-image: url("../../assets/background-desktop_lg.svg");
    background-size: 100%;
    background-position-y: 5%;
}

.home-image {
    background-image: url('https://boxbot-tangelo.cdn.prismic.io/boxbot-tangelo/31a44feb0eb444c65de3a3e5f80c96df5cad49e6_image-main-desktop2x.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
}