/* (1366x768) WXGA Display */

@media (min-width: 1681px) {
    /* insert styles here */
    .highlight {
        height: 254px!important;
    }
    .home .info {
        margin-top: -200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-repeat: no-repeat;
        padding-top: 150px;
    }
    .home .info .contact-sales {
        margin: 128px auto;
    }
    .home .info .contact-sales .reliable-partner img {
        width: 1020px;
    }
}