/* (360x640) Galaxy S5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .jobs-list h6 {
    text-align: center;
    font-size: 14px;
  }

  .jobs-list .col-lg-6.right {
    text-align: center;
  }

  .jobs-list .col-lg-6.right button {
    width: 80%;
  }
    /* insert styles here */
    /*CONTACT*/
    .We-want-to-hear-from {
        font-family: Rubik;
        font-size: 1.5rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .Subtitle {
        font-family: Rubik;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .titleCol {
        font-size: 1rem;
    }
    .subtitleCol {
        font-size: 0.9rem;
    }
    .contact-no-borders {
        border: white 0px solid !important;
    }
    /*END CONTACT*/
    /** Footer **/
    footer .contact-us {
        background-image: url("../../assets/Hero-Map-Desktop.svg");
        background-size: 100%;
        height: 341px;
        border-bottom: solid 2px rgb(14, 41, 72);
        padding-top: 70px;
        width: 100%;
        margin: unset!important;
    }
    footer .contact-us .mc-field-group {
        display: flex;
        flex-direction: column;
    }
    footer .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 15%;
        max-width: 15%;
    }
    
    footer .contact-us input {
        width: 260px;
        height: 42px;
        border-radius: 4px 0 0 4px;
        background-color: #ffffff;
        border: none;
        padding-left: 20px;
    }
    footer .contact-us .subscribe {
        margin-top: 5px;
        width: 260px;
        height: 42px;
        border-radius: 0 4px 4px 0;
        background-color: #ff594c;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .mce_inline_error {
        border: solid 2px #ff594c!important;
    }
    #mce-responses {
        color: white;
    }
    div.mce_inline_error {
        display: none!important;
    }
    footer .contact-us .contact-us-container {
        text-align: center;
    }
    footer .footer-navigation {
        height: 320px;
        background-color: #031a35;
    }
    .Stay-Up-To-Date {
        height: 32px;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 9px auto;
    }
    .Get-the-latest-news {
        height: 28px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 36px auto;
    }
    footer .menu {
        display: flex!important;
    }
    footer .menu .header {
        align-items: center;
        width: 100%;
    }
    footer .menu .header .black {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: unset;
    }
    footer .menu .header .black .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer .menu .header .black .menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .menu .header .black .menu ul li {
        margin: 10px 0 10px 0;
        width: 260px;
        height: 42px;
    }
    footer .menu .header .black .menu ul li.link-border a {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #ff594c!important;
        border: none;
        margin-bottom: 15px;
    }
    /** -- Footer -- **/
    /* Header */
    .menu-mobile .overlay {
        display: flex;
    }
    .header nav {
        height: 55px;
        padding: 10px 20px 10px 20px;
        display: flex;
    }
    .header .menu.desktop {
        display: none;
    }
    .header .menu-icon {
        display: block;
        width: 24px;
        height: 24px;
    }
    .header .menu-icon i {
        width: 24px;
        height: 24px;
        font-size: 1.8em;
    }
    .header nav .logo img {
        width: 86px;
        height: 20px;
    }
    .header nav .logo {
        width: 86px;
        height: 20px;
        padding: 0;
        margin: 0;
        flex: 1;
    }
    .header nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .header nav ul li {
        margin-right: 35px;
    }
    .header nav ul li.link-border {
        margin-right: 0;
    }
    .header nav ul li a {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #031a35;
    }
    .header nav ul li a.contact {
        border-radius: 4px;
        background-color: #ff594c;
        color: #fff!important;
        padding: 8px 15px 8px 15px;
        border: solid 1px #ff594c;
    }
    footer nav ul li a {
        color: #fff!important;
    }
    .header nav ul li a.contact:hover {
        border-radius: 4px;
        background-color: #fff;
        border: solid 1px #031a35;
        color: #031a35!important;
        padding: 8px 15px 8px 15px;
    }
    .header nav .menu {
        display: flex;
        align-self: center;
    }
    /* -- Header -- */
}


/* (640x960) iPhone 4 & 4S */

@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */
    /*CONTACT*/
    .We-want-to-hear-from {
        font-family: Rubik;
        font-size: 2.5rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .Subtitle {
        font-family: Rubik;
        font-size: 1.5rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .titleCol {
        font-size: 16px;
    }
    .subtitleCol {
        font-size: 14px;
    }
    .contact-no-borders {
        border: white 0px solid !important;
    }
    /*END CONTACT*/
    /** Footer **/
    footer .contact-us {
        background-image: url("../../assets/Hero-Map-Desktop.svg");
        background-size: 100%;
        height: 341px;
        border-bottom: solid 2px rgb(14, 41, 72);
        padding-top: 70px;
        width: 100%;
        margin: unset!important;
    }
    footer .contact-us .mc-field-group {
        display: flex;
        flex-direction: column;
    }
    footer .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 15%;
        max-width: 15%;
    }
    
    footer .contact-us input {
        width: 260px;
        height: 42px;
        border-radius: 4px 0 0 4px;
        background-color: #ffffff;
        border: none;
        padding-left: 20px;
    }
    footer .contact-us .subscribe {
        margin-top: 5px;
        width: 260px;
        height: 42px;
        border-radius: 0 4px 4px 0;
        background-color: #ff594c;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .mce_inline_error {
        border: solid 2px #ff594c!important;
    }
    #mce-responses {
        color: white;
    }
    div.mce_inline_error {
        display: none!important;
    }
    footer .contact-us .contact-us-container {
        text-align: center;
    }
    footer .footer-navigation {
        height: 320px;
        background-color: #031a35;
    }
    .Stay-Up-To-Date {
        height: 32px;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 9px auto;
    }
    .Get-the-latest-news {
        height: 28px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 36px auto;
    }
    footer .menu {
        display: flex!important;
    }
    footer .menu .header {
        align-items: center;
        width: 100%;
    }
    footer .menu .header .black {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: unset;
    }
    footer .menu .header .black .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer .menu .header .black .menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .menu .header .black .menu ul li {
        margin: 10px 0 10px 0;
        width: 260px;
        height: 42px;
    }
    footer .menu .header .black .menu ul li.link-border a {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #ff594c!important;
        border: none;
        margin-bottom: 15px;
    }
    /** -- Footer -- **/
}


/* (720x1280) Galaxy Nexus, WXGA */

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
    /*CONTACT*/
    .We-want-to-hear-from {
        font-family: Rubik;
        font-size: 1.5rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.48;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .Subtitle {
        font-family: Rubik;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .titleCol {
        font-size: 16px;
    }
    .subtitleCol {
        font-size: 14px;
    }
    .contact-no-borders {
        border: white 0px solid !important;
    }
    /*END CONTACT*/
    /** Footer **/
    footer .contact-us {
        background-image: url("../../assets/Hero-Map-Desktop.svg");
        background-size: 100%;
        height: 341px;
        border-bottom: solid 2px rgb(14, 41, 72);
        padding-top: 70px;
        width: 100%;
        margin: unset!important;
    }
    footer .contact-us .mc-field-group {
        display: flex;
        flex-direction: column;
    }
    footer .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 15%;
        max-width: 15%;
    }
    
    footer .contact-us input {
        width: 260px;
        height: 42px;
        border-radius: 4px 0 0 4px;
        background-color: #ffffff;
        border: none;
        padding-left: 20px;
    }
    footer .contact-us .subscribe {
        margin-top: 5px;
        width: 260px;
        height: 42px;
        border-radius: 0 4px 4px 0;
        background-color: #ff594c;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .mce_inline_error {
        border: solid 2px #ff594c!important;
    }
    #mce-responses {
        color: white;
    }
    div.mce_inline_error {
        display: none!important;
    }
    footer .contact-us .contact-us-container {
        text-align: center;
    }
    footer .footer-navigation {
        height: 320px;
        background-color: #031a35;
    }
    .Stay-Up-To-Date {
        height: 32px;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 9px auto;
    }
    .Get-the-latest-news {
        height: 28px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 36px auto;
    }
    footer .menu {
        display: flex!important;
    }
    footer .menu .header {
        align-items: center;
        width: 100%;
    }
    footer .menu .header .black {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: unset;
    }
    footer .menu .header .black .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer .menu .header .black .menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .menu .header .black .menu ul li {
        margin: 10px 0 10px 0;
        width: 260px;
        height: 42px;
    }
    footer .menu .header .black .menu ul li.link-border a {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #ff594c!important;
        border: none;
        margin-bottom: 15px;
    }
    /** -- Footer -- **/
}


/* (720x1280) Galaxy Nexus, Landscape */

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
    /** Footer **/
    footer .contact-us {
        background-image: url("../../assets/Hero-Map-Desktop.svg");
        background-size: 100%;
        height: 341px;
        border-bottom: solid 2px rgb(14, 41, 72);
        padding-top: 70px;
        width: 100%;
        margin: unset!important;
    }
    footer .contact-us .mc-field-group {
        display: flex;
        flex-direction: column;
    }
    footer .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 15%;
        max-width: 15%;
    }
    
    footer .contact-us input {
        width: 260px;
        height: 42px;
        border-radius: 4px 0 0 4px;
        background-color: #ffffff;
        border: none;
        padding-left: 20px;
    }
    footer .contact-us .subscribe {
        margin-top: 5px;
        width: 260px;
        height: 42px;
        border-radius: 0 4px 4px 0;
        background-color: #ff594c;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .mce_inline_error {
        border: solid 2px #ff594c!important;
    }
    #mce-responses {
        color: white;
    }
    div.mce_inline_error {
        display: none!important;
    }
    footer .contact-us .contact-us-container {
        text-align: center;
    }
    footer .footer-navigation {
        height: 320px;
        background-color: #031a35;
    }
    .Stay-Up-To-Date {
        height: 32px;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 9px auto;
    }
    .Get-the-latest-news {
        height: 28px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 36px auto;
    }
    footer .menu {
        display: flex!important;
    }
    footer .menu .header {
        align-items: center;
        width: 100%;
    }
    footer .menu .header .black {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: unset;
    }
    footer .menu .header .black .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer .menu .header .black .menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .menu .header .black .menu ul li {
        margin: 10px 0 10px 0;
        width: 260px;
        height: 42px;
    }
    footer .menu .header .black .menu ul li.link-border a {
        width: 260px;
        height: 42px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #ff594c!important;
        border: none;
        margin-bottom: 15px;
    }
    /** -- Footer -- **/
}